header {
    width: 100%;
    height: var(--header-height);
    top: 0;
    right: 0;
    position: absolute;
    background: var(--header-background);
    z-index: 999998;
    box-shadow: 0 0 15px 1px rgb(0,0,0,0.1);
}
div.organization {
    box-sizing: border-box;
    width: var(--header-width);
    float: right;
    --header-content-extern-padding: 3.5%;
    padding: 0 var(--header-content-extern-padding);
    top: 50%;
    left: 0;
    transform: translateY(-48%);
    position: relative;
    transition: all 0.2s ease;
}
div.organization div.logo {
    float: left;
}
div.organization div.logo img {
    height: calc(var(--header-height) * 0.55);
}
div.organization div.name {
    float: right;
    margin-top: 0.45rem;
}
div.organization div.name h2 {
    padding: 0;
    font-weight: 400;
    font-size: 1.6rem;
}
