<div class="container">
    <section>
        <div class="list-description">
            <h1>La lista di esempio più completa</h1>
            <p>Questa è una lista di card come esempio, per poter sviluppare la UI dell'applicazione web.<br>Lorem ipsum dolor sit amet anche se non mi riconrdo, come esattamente, va avanti</p>
        </div>
    </section>
    <section>
        <div class="card-list-container">
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
        </div>
    </section>
</div>