<div class="container">
    <section>
        <div class="list-description">
            <div class="image-container">
                <div class="description-content">
                    <h1>{{ page.name }}</h1>
                    <p>{{ page.description }}</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="card-list-container">
            <app-card *ngFor="let card of cards" attr.id="{{ card?.unique_id }}" [data]="card"></app-card>
        </div>
    </section>
</div>