@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700;800&display=swap');

body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    color: var(--text-color);
    overflow: hidden;
    background: var(--header-background);
}
h1, h2, h3, h4, h5, h6 {
    color: var(--titles-color);
    margin: 0;
}
div.leaflet-control-zoom.leaflet-bar.leaflet-control > a {
    background: var(--header-background) !important;
    color: var(--text-color) !important;
}

.hide {
    display: none;
}
mark {
    background: transparent;
    text-decoration: dashed underline var(--mark-line-color) 3px;
    color: var(--mark-text-color);
}

:root {
    --header-width: var(--header-reduced-width);
    --header-maximized-width: 100%;
    --header-reduced-width: 65%;
    --header-maxi-reduced-width: 35%;
    --sidePanel-width: var(--sidePanel-standard-width);
    --sidePanel-standard-width: 35%;
    --sidePanel-extended-width: 65%;
    --map-height: calc(100% - var(--header-height));
    --header-height: 80px;

    --titles-color: #171818;
    --text-color: #1f2020;
    --card-border-color: var(--text-color);
    --highcontrast-text-color: #0f0f0f;
    --backButton-hover-color: var(--mark-line-color);
    --toggle-sidePanel-hover-color: var(--scrollbar-thumb-background);
    --mark-line-color: rgb(33, 66, 212);
    --mark-text-color: rgb(33, 66, 212);

    --header-background: #FFFFFF;
    --sidePanel-background: var(--header-background);
    --toggle-sidePanel-background: var(--header-background);
    --card-hover-background: rgba(33, 66, 212, 0.02);
    --tag-background: rgba(33, 66, 212, 0.25);
    --scrollbar-thumb-background: rgba(33, 66, 212, 0.55);
    --img-hover-backgrund: var(--tag-background);

    --sidePanel-padding: 3.5rem;

    --simple-dropShadow: drop-shadow(7px 1px 3px rgba(0, 0, 0, 0.3));
}

[page-theme="dark"] {
    --header-background: #171818;
    --titles-color: #F1F1F1;
    --text-color: #e7e7e7;
    --backButton-hover-color: rgb(64, 95, 235);
    --mark-line-color: var(--backButton-hover-color);
    --mark-text-color: rgba(64, 95, 235);
}